:root {
  --primary-color: #f9f7fe;
  --secondary-color: #251158;
}

body {
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
}

iframe {
  height: 1200px;
}

h1 {
  color: var(--secondary-color);
  display: block;
}

form {
  display: flex;
}

p {
  font-size: 16px;
  color: var(--secondary-color);
  font-style: italic;
  font-weight: 530;
}

#generate-joke-button {
  background-color: var(--secondary-color);
  display: block;
  padding: 10px;
  border-radius: 15px;
  border-color: var(--primary-color);
  font-size: large;
  font-weight: 700;
  font-style: italic;
  color: var(--primary-color);
  text-decoration: underline;
  margin-left: 0, auto;
  margin-bottom: 10px;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#joke {
  font-size: 16px;
  background-color: none;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

a:hover {
  color: #2e1d59;
  text-decoration: none;
}

video {
  width: 25%;
  float: right;
  float: top;
}

footer {
  color: var(--secondary-color);
  margin: 200px, auto;
  padding-top: 50px;
  text-align: center;
}
